<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [mode]="'over'"
    [opened]="false"
  >
    <mat-toolbar class="sidenav-toolbar"
      ><p class="sidenav-title">Menu</p></mat-toolbar
    >
    <mat-nav-list>
      <button class="absorb" mat-button></button>
      <!--That button is needed to fix Angular bug where 1st element will always be highlighted in sidenav if it is in over mode-->
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon></button
      ><a routerLink="/home" class="color-white">Home ></a>
      <a routerLink="/organization" class="color-white">Organization ></a>
      <a routerLink="/application" class="color-white">Application </a> >
      Device</mat-toolbar
    >
    <body class="background">
      <mat-card class="device-box">
        <mat-card-content class="device-content">
          <img
            class="device-image"
            src="../../assets/placeholder_cat2.jpg"
            alt="Grey cat sitting on couch"
          />
          <mat-card-content class="about-device-box">
            <mat-card-header
              ><h3 class="device-title">About Cat Device</h3>
            </mat-card-header>
            <mat-divider class="device-divider"></mat-divider>
            <p>
              This is the device that the cat owns, so we must consider how much
              it data it has and can display.
            </p>
          </mat-card-content>
        </mat-card-content>
      </mat-card>
      <mat-card class="device-data-box">
        <mat-card-content class="device-data">
          <mat-accordion class="search-bar">
            <mat-expansion-panel
              class="search-expansion-box"
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <!--This block indicates if the panel is open or not and adjusts the variable panelOpenState to the appropriate state-->
              <mat-expansion-panel-header>
                <mat-panel-title> View the data here! </mat-panel-title>
                <mat-panel-description>
                  {{
                    panelOpenState
                      ? "This is all the data of the device."
                      : "Click me!"
                  }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <img
                src="../../assets/placeholder_cat.jfif"
                alt="Grey cat sitting on couch"
              />
              <!--  Payload Table -->
              <div class="table-container">
                <p>Payload Table</p>
                <table
                  mat-table
                  [dataSource]="records"
                  class="mat-elevation-z8"
                >
                  <!-- Dev_eui Column -->
                  <ng-container matColumnDef="Dev_eui" class="dev_eui">
                    <th mat-header-cell *matHeaderCellDef>dev_eui</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.dev_eui }}
                    </td>
                  </ng-container>

                  <!-- Dev_time Column -->
                  <ng-container matColumnDef="Dev_time" class="dev_time">
                    <th mat-header-cell *matHeaderCellDef>dev_time</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.dev_time }}
                    </td>
                  </ng-container>

                  <!-- Payload Columns / Dynamic -->
                  <ng-container
                    *ngFor="let column of payloadColumns"
                    [matColumnDef]="column"
                    class="dynamic_column"
                  >
                    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.payload_dict[column] }}
                    </td>
                  </ng-container>

                  <tr
                    mat-header-row
                    *matHeaderRowDef="
                      ['Dev_eui', 'Dev_time'].concat(payloadColumns)
                    "
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="
                      let row;
                      columns: ['Dev_eui', 'Dev_time'].concat(payloadColumns)
                    "
                  ></tr>
                </table>
              </div>

              <!--  Metadata Table -->
              <div class="table-container">
                <p>Metadata Table</p>
                <table
                  mat-table
                  [dataSource]="records"
                  class="mat-elevation-z8"
                >
                  <!-- Dev_eui Column -->
                  <ng-container matColumnDef="Dev_eui" class="dev_eui">
                    <th mat-header-cell *matHeaderCellDef>dev_eui</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.dev_eui }}
                    </td>
                  </ng-container>

                  <!-- Dev_time Column -->
                  <ng-container matColumnDef="Dev_time" class="dev_time">
                    <th mat-header-cell *matHeaderCellDef>dev_time</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.dev_time }}
                    </td>
                  </ng-container>

                  <!-- Metadata Columns / Dynamic -->
                  <ng-container
                    *ngFor="let column of metadataColumns"
                    [matColumnDef]="column"
                    class="dynamic_column"
                  >
                    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.metadata_dict[column] }}
                    </td>
                  </ng-container>

                  <tr
                    mat-header-row
                    *matHeaderRowDef="
                      ['Dev_eui', 'Dev_time'].concat(metadataColumns)
                    "
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="
                      let row;
                      columns: ['Dev_eui', 'Dev_time'].concat(metadataColumns)
                    "
                  ></tr>
                </table>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
      <button
        mat-raised-button
        color="accent"
        class="data-button"
        [routerLink]="['/filter', appId]"
      >
        Filter Device Data
        <!--Having a routerlink with the brackets allows for the button to link properly, and if needed, adding , after the link allows for dynamic linking-->
      </button>
      <app-temp-nav-bar></app-temp-nav-bar>
    </body>
  </mat-sidenav-content>
</mat-sidenav-container>
