.toolbar {
  opacity: 0.9;
}

.absorb {
  height: 0;
  position: absolute;
}

.sidenav-container {
  height: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
  width: 300px;
}

.sidenav-title {
  text-align: center;
}

.sidenav-button {
  margin: 4px;
  transform: translate(20%, 0%);
}

.sidenav-item {
  text-align: center;
}

.background {
  background-color: aliceblue;
  height: 90%;
  width: 100%;
}

.about-device-box {
  position: relative;
  width: 100%;
  height: 100px;
}

.tile-header {
  background-color: black;
}

.data-button {
  left: 45%;
}

.color-white {
  text-decoration: none;
  color: white;
  padding-right: 6px;
}
