<div>
  <body class="main-body">
    <mat-card class="forgotten-password-form">
      <h1 class="title">Forgotten Password</h1>
      <p>
        Please enter your email, an email will be sent to reset your password.
      </p>
      <!--Form starts here and is event bound to a method that will let us connect all these entries-->
      <form
        class="container"
        (ngSubmit)="submitForm()"
        #forgotPasswordForm="ngForm"
      >
        <!--"Banana in the box" [()], property binding, then event binding. Connects template to class and likewise-->
        <!--Using {{variable}} would show how the variable is now connected to the field-->
        <mat-form-field color="primary">
          <mat-label>Email</mat-label>
          <input
            matInput
            name="email"
            placeholder="good@example.com"
            [(ngModel)]="email"
            [formControl]="emailField"
            required
          />
          <mat-error *ngIf="emailField.invalid"
            >{{ getErrorMessage() }}
          </mat-error>
        </mat-form-field>
        <!--Button will only be valid if all the required forms are filled out-->
        <button
          mat-raised-button
          color="accent"
          [disabled]="forgotPasswordForm.invalid || emailField.invalid"
        >
          Send Email
        </button>
      </form>
    </mat-card>
  </body>
</div>
