.angular/cache/16.2.10/angular-webpack/
.angular/cache/16.2.10/
.angular/cache/16.2.10/babel-webpack/
.angular/
nodemodules/
node_modules/
.angular/cache/16.2.10/angular-webpack/a6cdac3ee3bc0d359a9a99c30ea3a4a3da70a33a/0.pack