#ignore files that are larger than 100mb 
.angular/
nodemodules/
node_modules/
package-lock.json/
package.json/
cssi-web-portal/front_end/angular.json
cssi-web-portal/front_end/package-lock.json
cssi-web-portal/front_end/package.json
*.pyc
cssi-web-portal/back_end/app/example.log
