<!-- Huy developed the home page html with a basic layout where more information could be added if need, once the content is confirmed -->
<body>
  <!-- This is the toolbar which wraps around the home content, and stuff within are what would be displayed to the user. -->
  <app-tool-bar>
    <div>
      <body>
        <p class="home-text">About Us</p>
        <p class="home-text">CSSI Web Portal</p>
        <p class="body-text">
          The purpose of this web portal is to provide easier accessibility for
          scientists, and the public to view and manage their LoRa devices
          allowing quick access to climate information.
        </p>
        <div class="button-box">
          <button mat-raised-button color="accent" class="clicky-button">
            Clicky Clicky
          </button>
        </div>
      </body>
    </div>
    <app-temp-nav-bar></app-temp-nav-bar>
  </app-tool-bar>
</body>
