<!--This is the side nav container, and it wraps everything because otherwise the side bar wouldn't be able to pop out over page-->
<!--The mat sidenav container and mat toolbar were all integrated from the Angular Materials library, and represent the home nav bar.-->
<!--The alterations were made by Huy to the atrributes, which determines the functionality of the toolbar, as well as teh content within such as the router link-->
<mat-sidenav-container class="sidenav-container">
  <!-- Can add ngclass that defines a hidden which only shows the hamburger side nav if the user is on handheld mode, mode makes the side bar either push or appear over main page -->
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'"
    [opened]="false"
  >
    <mat-toolbar>Options</mat-toolbar>
    <mat-nav-list>
      <button class="absorb" mat-button></button>
      <!--That button is needed to fix Angular bug where 1st element will always be highlighted in sidenav if it is in over mode-->
      <a mat-list-item routerLink="/about">About Us</a>
      <a mat-list-item routerLink="/sign-up">Signup</a>
      <a mat-list-item routerLink="/login">Login</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--Remove the ngIf to keep the icon for the sidenave consistent through all sizes if wanted.-->
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="/">CSSI Home</a>
      <span class="push-links-right"></span>
      <a routerLink="/about">About Us</a>
      <p class="vertical-seperator">|</p>
      <a routerLink="/sign-up">Signup</a>
      <p class="vertical-seperator">|</p>
      <a routerLink="/login">Login</a>
    </mat-toolbar>
    <!-- Add Content Here, ng-content is used for angular content projection so we can add stuff in tool-bar wrapper in app html -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
