/* about.component.css */

.about-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  justify-content: left;
}
.mat-card-title {
  text-align: center;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.mat-card-header {
  align-self: center;
  display: block;
  justify-content: center;
}

.mat-grid-list {
  background-color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
}

mat-card-content {
  text-align: center;
  display: block;
}

.mat-grid-tile {
  background: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-tile {
  display: flex;
  flex-direction: column;
}

.name-line {
  font-size: xx-large;
}

body {
  /* This is the main control for the visuals on the background of the home page */
  background-image: url("../../assets/unr.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
