<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="about.component.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div>
        <mat-card>
            <mat-card-title>Organization Name</mat-card-title>
            <mat-card-header>Organization Bio:</mat-card-header>
            <mat-card-content>
                <form>
                    <p>Info about organization</p>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    
    
</body>
</html>