/* about.component.css */
mat-card {
    color: black;
    text-align: center;
    padding: 30px;
}
mat-card-title {
    background-color: gray;
    color: black;
    opacity: 20%;
    text-align: center;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 10px;
}

mat-card-header {
    text-align: center;
    color: black;
    align-self: center;
    display: block;
    justify-content: center;
    padding: 20px;
}

mat-grid-list {
    border-radius: 8px;
    color: black;
    overflow: hidden;
    padding: 10px;
}

mat-card-content {    
    text-align: center;
    color: black;
    display: block;
    padding: 10px;
}

mat-grid-tile {
    background: #e0e0e0;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

mat-grid-tile img {
    max-width: 100%;
    color: black;
    max-height: 100%;
    border-radius: 4px;
}

.body {
    /* This is the main control for the visuals on the background of the home page */
    background-color: aliceblue;
    background-image: url("../../assets/unr.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: black;
    
  }