/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
/* Made body margin 0 so that the side nav aligns with rest of page*/
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
