.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.forgot-link {
  text-align: right;
  transform: translate(100%, 0%);
}

.title {
  text-align: center;
  border-bottom: 2px solid;
  transform: translate(0%, -60%);
}

.login-form {
  /* This aligns the div form, horizontally and vertically so it becomes the center of the page */
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100px;
  background-color: beige;
}

.main-body {
  background-color: aliceblue;
}
