<app-tool-bar>
  <div>
    <link rel="stylesheet" href="./login.component.css" />
    <body class="main-body">
      <mat-card class="login-form">
        <h1 class="title">Login</h1>
        <form class="container" #loginForm="ngForm">
          <mat-form-field color="primary">
            <mat-label>Email</mat-label>
            <input
              matInput
              name="email"
              placeholder="good@example.com"
              [(ngModel)]="email"
              [formControl]="emailField"
              required
            />
            <mat-error *ngIf="emailField.invalid">{{
              getErrorMessage()
            }}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <!--Password-->
            <mat-label>Password</mat-label>
            <input
              matInput
              name="password"
              [(ngModel)]="password"
              #passwordInput="ngModel"
              [type]="hide ? 'password' : 'text'"
              required
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <!--Declared for the password input above, if this field is either wrong or empty after user has selected the input-->
            <mat-error
              *ngIf="
                passwordInput.invalid &&
                (passwordInput.dirty || passwordInput.touched)
              "
            >
              Password is incorrect or empty</mat-error
            >
          </mat-form-field>
          <!--Button will only be valid if all the required forms are filled out and submit the form when pressed-->
          <button
            mat-raised-button
            color="accent"
            (ngSubmit)="submitForm()"
            [disabled]="loginForm.invalid || emailField.invalid"
          >
            Login
          </button>
          <a class="forgot-link" routerLink="/forgotten-password"
            >Forgot Password?</a
          >
          <router-outlet></router-outlet>
        </form>
      </mat-card>
    </body>
  </div>
  <app-temp-nav-bar></app-temp-nav-bar>
</app-tool-bar>
