.background {
  width: 100%;
  height: 90% !important;
  background-image: url("../../assets/Home-page-2.jpg") !important;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /*This below is for controlling the gradient overlay of the image in order to make the image look darker, */
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 91.5%;
    top: 8.5%;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #000000, #000000);
    opacity: 0.27;
  }
}

.push-links-right {
  /* The three values are grow, shrink, and basis, the span will grow or shrink to fill the container, in this case the toolbar */
  flex: 1 1 auto;
}

.color-white {
  text-decoration: none;
  color: white;
}

.header-text {
  position: absolute;
  top: 30%;
  left: 24.5%;
  font-size: 10vw;
  color: aliceblue;
  -webkit-text-stroke: 0.2vw black;
}

.search-expansion-box {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 40%;
  box-shadow: 0 4px 1px 1px rgba(0, 0, 0, 0.4), 0 4px 20px 0 rgba(0, 0, 0, 0.4),
    0 1px 10px 0 rgba(0, 0, 0, 0.4);
}

.search-bar {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 4%;
  box-shadow: 0 4px 1px 1px rgba(0, 0, 0, 0.4), 0 4px 20px 0 rgba(0, 0, 0, 0.4),
    0 1px 10px 0 rgba(0, 0, 0, 0.4);
}

.mat-table {
  max-height: 500px;
  overflow-y: auto;
}

/* .table-container {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 4%;

  max-height: 500px;
  max-width: 80%;
  overflow-y: auto;
  overflow-x: scroll;

  width: 80%;
  left: 20%;
  top: 40%;
} */

.payload-table {
  position: absolute;

  top: 50%;

  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 4%;

  max-height: 500px;
  max-width: 80%;
  overflow-y: auto;
  overflow-x: scroll;

  width: 80%;
  left: 20%;
  top: 40%;
}

.metadata-table {
  position: absolute;

  top: 70%;

  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 4%;

  max-height: 500px;
  max-width: 80%;
  overflow-y: auto;
  overflow-x: scroll;

  width: 80%;
  left: 20%;
  top: 40%;
}
