<mat-toolbar color="primary" class="toolbar"
  >Filter Data<span class="push-links-right"></span
  ><a routerLink="/home" class="color-white">Go Home</a></mat-toolbar
>
<body class="background">
  <!-- <mat-card class="filter"> -->
  <p class="header-text">Select Data</p>
  <mat-card class="filter">
    <mat-accordion class="search-bar">
      <mat-expansion-panel
        class="search-expansion-box"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <!--This block indicates if the panel is open or not and adjusts the variable panelOpenState to the appropriate state-->
        <mat-expansion-panel-header>
          <mat-panel-title> Sort your data here! </mat-panel-title>
          <mat-panel-description>
            {{
              panelOpenState
                ? "Choose the parameters you'd like to view"
                : "Click me!"
            }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- <img
          src="../../assets/placeholder_cat.jfif"
          alt="Grey cat sitting on couch"
        /> -->
        <form [formGroup]="filterForm" (ngSubmit)="onFormSubmit()">
          <!-- date filter options -->
          <app-date-picker> </app-date-picker>
          <!-- time filter -->
          <mat-card class="time-filter">
            <mat-form-field>
              <mat-label>Start Time</mat-label>
              <input matInput [matDatepicker]="pickerStart" formControlName="startTime" required>
              <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
              <mat-datepicker #pickerStart></mat-datepicker>
              <mat-icon matSuffix>access_time</mat-icon>
              <mat-hint>HH:MM</mat-hint>
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>End Time</mat-label>
              <input matInput [matDatepicker]="pickerEnd" formControlName="endTime" required>
              <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
              <mat-datepicker #pickerEnd></mat-datepicker>
              <mat-icon matSuffix>access_time</mat-icon>
              <mat-hint>HH:MM</mat-hint>
            </mat-form-field>
          </mat-card>  
          <!-- Data range of values -->
          <mat-card class="range-filter" formGroupName="range">
            <mat-card-content>
              <h2 class="example-h2">Slider configuration</h2>
          
              <section class="example-section">
                <mat-form-field class="example-margin example-width">
                  <mat-label>Value</mat-label>
                  <input matInput type="number" formControlName="value">
                </mat-form-field>
                <mat-form-field class="example-margin example-width">
                  <mat-label>Min value</mat-label>
                  <input matInput type="number" formControlName="min">
                </mat-form-field>
                <mat-form-field class="example-margin example-width">
                  <mat-label>Max value</mat-label>
                  <input matInput type="number" formControlName="max">
                </mat-form-field>
                <mat-form-field class="example-margin example-width">
                  <mat-label>Step size</mat-label>
                  <input matInput type="number" formControlName="step">
                </mat-form-field>
              </section>
              
              <mat-card class='left-section-box'>
                <section class="visual-section">
                  <mat-checkbox formControlName="showTicks">Show ticks</mat-checkbox>
                </section>
            
                <section class="visual-section">
                  <mat-checkbox formControlName="thumbLabel">Show thumb label</mat-checkbox>
                </section>

                <section class="visual-section">
                  <mat-checkbox formControlName="disabled">Disabled</mat-checkbox>
                </section>
              </mat-card>
              <mat-card class='left-section-box'>
                <section class="filter-select">
                  <mat-checkbox formControlName="payloadSelect">Apply to Payload Data</mat-checkbox>
                </section>

                <section class="filter-select">
                  <mat-checkbox formControlName="metadataSelect">Apply to Metadata</mat-checkbox>
                </section>
              </mat-card>

            </mat-card-content>
          </mat-card>
        
        <mat-card class="example-result-card">
          <mat-card-content>
            <h2>Result</h2>
        
            <div class="example-label-container">
              <label id="example-name-label" class="example-name-label">Value</label>
              <label class="example-value-label">{{slider.value}}</label>
            </div>
            <mat-slider
                class="example-margin"
                [disabled]="disabled"
                [max]="max"
                [min]="min"
                [step]="step"
                [discrete]="thumbLabel"
                [showTickMarks]="showTicks">
              <input matSliderThumb formControlName="value" #slider>
            </mat-slider>
          </mat-card-content>
        </mat-card>
          
          <!-- Data Type -->
          <mat-card class="type-filter">
            <mat-form-field>
              <mat-label>Data Type</mat-label>
              <input matInput formControlName="dataType" required>
              <mat-icon matSuffix>text_fields</mat-icon>
              <mat-hint>Enter Data Type</mat-hint>
            </mat-form-field>
          </mat-card>
          
          <!-- Device ID -->
          <mat-card class="id-filter">
            <mat-form-field>
              <mat-label>Device ID</mat-label>
              <input matInput formControlName="deviceId" required>
              <mat-icon matSuffix>text_fields</mat-icon>
              <mat-hint>Enter Device ID</mat-hint>
            </mat-form-field>
          </mat-card>
          
          <!-- Application ID -->
          <mat-card class="application-filter">
            <mat-form-field>
              <mat-label>Application ID</mat-label>
              <input matInput formControlName="applicationID" required>
              <mat-icon matSuffix>text_fields</mat-icon>
              <mat-hint>Enter Application ID</mat-hint>
            </mat-form-field>
          </mat-card>
          <!-- Device Location -->
          <mat-card class="location-filter">
            <mat-form-field>
              <mat-label>Location</mat-label>
              <input matInput formControlName="location" required>
              <mat-icon matSuffix>text_fields</mat-icon>
              <mat-hint>Enter Location</mat-hint>
            </mat-form-field>
          </mat-card>
          <button type="submit" mat-raised-button color="primary">Submit</button>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>

  <!-- device select -->
  <mat-card class="filter">
    <mat-accordion class="search-bar">
      <mat-expansion-panel
        class="search-expansion-box"
        (opened)="panelOpenStateDeviceSelect = true"
        (closed)="panelOpenStateDeviceSelect = false"
      >
        <!--This block indicates if the panel is open or not and adjusts the variable panelOpenState to the appropriate state-->
        <mat-expansion-panel-header>
          <mat-panel-title> Select Devices you would like to view </mat-panel-title>
          <mat-panel-description>
            {{
              panelOpenState
                ? "Choose the parameters you'd like to view"
                : "Click me!"
            }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- code here -->
        <mat-card class="dev-eui-table">
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyPayloadFilter($event)" placeholder="Dev_eui" #input>
          </mat-form-field>   
          <!--  Dev_EUI Table -->
          <p>Device Table</p>
          <table mat-table [dataSource]="devIDSource" class="mat-elevation-z8">
            <!-- Dev_eui Column -->
            <ng-container matColumnDef="Dev_eui" class="dev_eui">
              <th mat-header-cell *matHeaderCellDef> dev_eui </th>
              <td mat-cell *matCellDef="let element"> {{element.dev_eui}} </td>
            </ng-container> 

            <tr mat-header-row *matHeaderRowDef="['Dev_eui']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['Dev_eui'];"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>   

          <mat-paginator #payloadPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of Payload Data"></mat-paginator>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>

  <!-- device payload data tables -->
  <mat-card class="filter">
    <mat-accordion class="search-bar">
      <mat-expansion-panel
        class="search-expansion-box"
        (opened)="panelOpenStatePayload = true"
        (closed)="panelOpenStatePayload = false"
      >
        <!--This block indicates if the panel is open or not and adjusts the variable panelOpenState to the appropriate state-->
        <mat-expansion-panel-header>
          <mat-panel-title> Payload Data </mat-panel-title>
          <mat-panel-description>
            {{
              panelOpenState
                ? "Choose the parameters you'd like to view"
                : "Click me!"
            }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card class="payload-table">
          <!-- Filters need to be reintroduced into the tables when I can reliably display data -->
          <!-- Filters need to be refined further -->

          <!-- Filter for Payload -->
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyPayloadFilter($event)" placeholder="Dev_eui" #input>
          </mat-form-field>    

          <!--  Payload Table -->
          <p>Payload Table</p>
          <table mat-table [dataSource]="payloadDataSource" class="mat-elevation-z8">
            <!-- Dev_eui Column -->
            <ng-container matColumnDef="Dev_eui" class="dev_eui">
              <th mat-header-cell *matHeaderCellDef> dev_eui </th>
              <td mat-cell *matCellDef="let element"> {{element.dev_eui}} </td>
            </ng-container>

            <!-- Dev_time Column -->
            <ng-container matColumnDef="Dev_time" class="dev_time">
              <th mat-header-cell *matHeaderCellDef> dev_time </th>
              <td mat-cell *matCellDef="let element"> {{element.dev_time}} </td>
            </ng-container>

            <!-- Payload Columns / Dynamic -->
            <ng-container *ngFor="let column of payloadColumns" [matColumnDef]="column" class="dynamic_column">
              <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
              <td mat-cell *matCellDef="let element"> {{ element.payload_dict[column] }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['Dev_eui', 'Dev_time'].concat(payloadColumns)"></tr>
            <tr mat-row *matRowDef="let row; columns: ['Dev_eui', 'Dev_time'].concat(payloadColumns);"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>    

          <mat-paginator #payloadPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of Payload Data"></mat-paginator>

          <mat-card-actions>
            <div class="button-container">
              <button mat-raised-button (click)="loadSpinner()" color="accent" (click)="exportPayloadData()">Export Payload Data</button>
              <mat-spinner *ngIf="showSpinner"></mat-spinner>
            </div>
          </mat-card-actions>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>

  <!-- payload graph -->
  <mat-card class="filter">
    <mat-accordion class="search-bar">
      <mat-expansion-panel
        class="search-expansion-box"
        (opened)="panelOpenStatePayloadGraph = true"
        (closed)="panelOpenStatePayloadGraph = false"
      >
        <!--This block indicates if the panel is open or not and adjusts the variable panelOpenState to the appropriate state-->
        <mat-expansion-panel-header>
          <mat-panel-title> Payload Graph! </mat-panel-title>
          <mat-panel-description>
            {{
              panelOpenState
                ? "Choose the parameters you'd like to view"
                : "Click me!"
            }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- code here -->
        <mat-card class="grid-child" class="chart" class="mat-elevation-z4">
          <canvas id="myChart" width="400" height="400"></canvas>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>

  <!-- device metadata data tables -->
  <mat-card class="filter">
    <mat-accordion class="search-bar">
      <mat-expansion-panel
        class="search-expansion-box"
        (opened)="panelOpenStateMetadata = true"
        (closed)="panelOpenStateMetadata = false"
      >
        <!--This block indicates if the panel is open or not and adjusts the variable panelOpenState to the appropriate state-->
        <mat-expansion-panel-header>
          <mat-panel-title> Metadata </mat-panel-title>
          <mat-panel-description>
            {{
              panelOpenState
                ? "Choose the parameters you'd like to view"
                : "Click me!"
            }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card class="metadata-table">
          <!-- Filter for Metadata -->
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyMetadataFilter($event)" placeholder="Dev_eui" #input>
          </mat-form-field> 
          
          <!--  Metadata Table -->
          <p>Metadata Table</p>
          <table mat-table [dataSource]="metadataSource" class="mat-elevation-z8">
            <!-- Dev_eui Column -->
            <ng-container matColumnDef="Dev_eui" class="dev_eui">
              <th mat-header-cell *matHeaderCellDef> dev_eui </th>
              <td mat-cell *matCellDef="let element"> {{element.dev_eui}} </td>
            </ng-container>

            <!-- Dev_time Column -->
            <ng-container matColumnDef="Dev_time" class="dev_time">
              <th mat-header-cell *matHeaderCellDef> dev_time </th>
              <td mat-cell *matCellDef="let element"> {{element.dev_time}} </td>
            </ng-container>

            <!-- Metadata Columns / Dynamic -->
            <ng-container *ngFor="let column of metadataColumns" [matColumnDef]="column" class="dynamic_column">
              <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
              <td mat-cell *matCellDef="let element"> {{ element.metadata_dict[column] }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['Dev_eui', 'Dev_time'].concat(metadataColumns)"></tr>
            <tr mat-row *matRowDef="let row; columns: ['Dev_eui', 'Dev_time'].concat(metadataColumns);"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
            
          </table>

          <mat-paginator #metadataPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of Metadata Data"></mat-paginator>

          <mat-card-actions>
            <div class="button-container">
              <button mat-raised-button (click)="loadSpinner()" color="accent" (click)="exportMetadata()">Export Metadata Data</button>
              <mat-spinner *ngIf="showSpinner"></mat-spinner>
            </div>
          </mat-card-actions>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>

  <!-- metadata graph -->
  <mat-card class="filter">
    <mat-accordion class="search-bar">
      <mat-expansion-panel
        class="search-expansion-box"
        (opened)="panelOpenStateMetadataGraph = true"
        (closed)="panelOpenStateMetadataGraph = false"
      >
        <!--This block indicates if the panel is open or not and adjusts the variable panelOpenState to the appropriate state-->
        <mat-expansion-panel-header>
          <mat-panel-title> Metadata Graph </mat-panel-title>
          <mat-panel-description>
            {{
              panelOpenState
                ? "Choose the parameters you'd like to view"
                : "Click me!"
            }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- code here -->
        <mat-card class="grid-child" class="chart" class="mat-elevation-z4">
          <canvas id="myChart" width="400" height="400"></canvas>
        </mat-card>
        <!-- The mat card will also have buttons present to retrieve user input and specific what infromation the user would like to view with respect tot he device health. -->
        <!-- using event based binding which will use the correpsonding method and allow the user to view the selected information visuallized with the chart, here the chart is specified-->
        <!-- through canvas element "myChart" -->
        <mat-card-actions>
          <div class="button-container">
            <!-- <button mat-raised-button (click)="loadSpinner()">Add Device</button> -->
            <button
              mat-raised-button
              color="accent"
              (click)="loadSpinner()"
              (click)="viewDevicePktloss()"
            >
              Packet Loss
            </button>
            <button
              mat-raised-button
              color="accent"
              (click)="loadSpinner()"
              (click)="viewGatewayRSSI()"
            >
              Gateway RSSI
            </button>
            <button
              mat-raised-button
              color="accent"
              (click)="loadSpinner()"
              (click)="viewGatewaySNR()"
            >
              Gateway SNR
            </button>
            <button
              mat-raised-button
              color="accent"
              (click)="loadSpinner()"
              (click)="viewDeviceBattery()"
            >
              Battery
            </button>
            <button
              mat-raised-button
              color="accent"
              (click)="loadSpinner()"
              (click)="getDownload()"
            >
              Export Data
            </button>
          </div>
          <mat-spinner *ngIf="showSpinner"></mat-spinner>
        </mat-card-actions>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>

  <app-temp-nav-bar></app-temp-nav-bar>
</body>
