.toolbar {
  opacity: 0.9;
  z-index: 10;
}

.absorb {
  height: 0;
  position: absolute;
}

.sidenav-container {
  height: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
  width: 300px;
}

.sidenav-title {
  transform: translate(75%, 25%);
  color: white;
  font-size: 36px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  opacity: 0.95;
}

.sidenav-toolbar {
  background-image: url("../../assets/Home-page-2.jpg") !important;
  background-size: cover !important;
  height: 200px !important;

  /*This below is for controlling the gradient overlay of the image in order to make the image look darker, */
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #000000, #000000);
    opacity: 0.27;
  }
}

.sidenav-button {
  margin: 4px;
  transform: translate(20%, 0%);
}

.sidenav-item {
  text-align: center;
}

.background {
  position: absolute;
  background-image: url("../../assets/cut_stump.jpeg") !important;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
  width: 100%;

  /*This below is for controlling the gradient overlay of the image in order to make the image look darker, */
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #000000, #000000);
    opacity: 0.4;
  }
}


.push-links-right {
  /* The three values are grow, shrink, and basis, the span will grow or shrink to fill the container, in this case the toolbar */
  flex: 1 1 auto;
}

.push-button-right {
  /* This just grows the span so that it takes up the entire flexbox */
  flex-grow: 1;
}

.home-icon {
  transform: translate(-22%, 18%);
}

.home-text {
  transform: translate(0%, -10%);
}

.color-white {
  text-decoration: none;
  color: white;
}

.header-text {
  position: inline;
  top: 30%;
  left: 24.5%;
  font-size: 10vw;
  color: aliceblue;
  -webkit-text-stroke: 0.2vw black;
}

.search-expansion-box {
  position: inline;
  width: 100%;
  /* left: 10%; */
  top: 40%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 4px 1px 1px rgba(0, 0, 0, 0.4), 0 4px 20px 0 rgba(0, 0, 0, 0.4),
    0 1px 10px 0 rgba(0, 0, 0, 0.4);
}

.graph {
  position: inline;
  width: 80%;
  /* left: 10%; */
  top: 40%;
  left: 10%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 4px 1px 1px rgba(0, 0, 0, 0.4), 0 4px 20px 0 rgba(0, 0, 0, 0.4),
    0 1px 10px 0 rgba(0, 0, 0, 0.4);
}

.device_selection {
  position: inline;
  width: 80%;
  /* left: 10%; */
  /* top: 40%; */
  left: 10%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 4px 1px 1px rgba(0, 0, 0, 0.4), 0 4px 20px 0 rgba(0, 0, 0, 0.4),
    0 1px 10px 0 rgba(0, 0, 0, 0.4);
}

/*.search-bar {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 4%;
  width: 100%;
  /* box-shadow: 0 4px 1px 1px rgba(0, 0, 0, 0.4), 0 4px 20px 0 rgba(0, 0, 0, 0.4),
    0 1px 10px 0 rgba(0, 0, 0, 0.4); 
}*/


.mat-table {
  max-height: 500px;
  overflow-y: auto;
}

.device-data-box {
  display: flex;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  top: 40%;
  height: fit-content;
  box-shadow: 0 4px 1px 1px rgba(0, 0, 0, 0.4), 0 4px 20px 0 rgba(0, 0, 0, 0.4),
    0 1px 10px 0 rgba(0, 0, 0, 0.4);
}

.device-data {
  height: 100%;
  overflow-y: auto;
}

.payload-table {
  /* position: absolute; */
  position: relative;

  top: 50%;

  margin-top: 1%;
  /* margin-left: 5%; */
  margin-right: 5%;

  max-height: 500px;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: scroll;

  width: 100%;
  /* left: 5%; */
  top: 40%;
}
.payload_select {
  position: inline;

  top: 70%;

  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 4%;

  /* max-height: 500px;
  max-width: 80%; */
  /* overflow-y: auto; */
  overflow-x: scroll;

  width: 80%;
  left: 5%;
  top: 40%;
}
.device_select {
  position: inline;

  top: 70%;

  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 4%;

  /* max-height: 500px;
  max-width: 80%; */
  /* overflow-y: auto; */
  overflow-x: scroll;

  width: 80%;
  left: 5%;
  top: 40%;
}
.metadata-table {
  position: inline;

  top: 70%;

  margin-top: 1%;
  /* margin-left: 5%; */
  margin-bottom: 4%;

  /* max-height: 500px;
  max-width: 80%; */
  /* overflow-y: auto; */
  overflow-x: scroll;

  width: 100%;
  /* left: 5%; */
  top: 40%;
}
.filter {
  position: inline;

  /* top: 250px; */

  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  /* margin-bottom: 4%; */

  padding-left: 1%;
  padding-right: 1%;

  max-height: 500px;
  max-width: 80%;
  overflow-y: auto;
  overflow-x: auto;

  width: 80%;
  left: 5%;
  /* top: 40%; */
}

.example-h2 {
  margin-left: 10px;
  margin-right: 10px;
}

.visual-section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.visual-section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.left-section-box {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
}
.right-section-box {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  align-items: right;
}

.example-margin {
  margin: 8px;
}

.example-width {
  max-width: 180px;
  width: 100%;
}

.mat-mdc-slider {
  max-width: 300px;
  width: 100%;
}

.mat-mdc-card + .mat-mdc-card {
  margin-top: 8px;
}

.example-result-card h2 {
  margin: 0 8px;
}

.example-label-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 0;
  max-width: 284px;
}

.example-result-card .example-value-label {
  font-weight: 600;
}

.dev-eui-table {
  width: 100%;
  overflow-y: auto;
  overflow-x: scroll;
}

th.mat-header-cell {
  background-color: #eee;
  color: #333;
  padding: 8px;
}
td.mat-cell {
  padding: 8px;
  text-align: left;
}
tr.mat-row:hover {
  background-color: #f5f5f5;
}
.highlight{
  background-color: #e35a5a;
  color: black;
}
.highlightlow{
  background-color: #e5cc58;
  color:black;
}
.map-button {
  position: relative;
  left: 45%;
  top: 45%;
  margin-top: 4%;
}