<app-tool-bar>
  <div>
    <body class="main-body">
      <mat-card class="reset-password-form">
        <h1 class="title">Reset Password</h1>
        <p>Please enter a new password, and confirm your decision.</p>
        <!--Form starts here and is event bound to a method that will let us connect all these entries-->
        <form class="container" #resetPasswordForm="ngForm">
          <!--Password-->
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              matInput
              name="password"
              [(ngModel)]="password"
              #passwordInput="ngModel"
              [type]="hide1st ? 'password' : 'text'"
              required
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide1st = !hide1st"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide1st"
            >
              <mat-icon>{{
                hide1st ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <!--Declared for the password input above, if this field is either wrong or empty after user has selected the input-->
            <mat-error
              *ngIf="
                passwordInput.invalid &&
                (passwordInput.dirty || passwordInput.touched)
              "
            >
              Password is incorrect or empty</mat-error
            >
          </mat-form-field>
          <!--Password-->
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              name="repeatPassword"
              [(ngModel)]="repeatPassword"
              #repeatPasswordInput="ngModel"
              [type]="hide2nd ? 'password' : 'text'"
              required
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide2nd = !hide2nd"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide2nd"
            >
              <mat-icon>{{
                hide2nd ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <!--Declared for the password input above, if this field is either wrong or empty after user has selected the input-->
            <mat-error
              *ngIf="repeatPasswordInput.invalid && repeatPasswordInput.touched"
            >
              Password is incorrect or empty</mat-error
            >
          </mat-form-field>
          <!--Button will only be valid if all the required forms are filled out-->
          <button
            mat-raised-button
            color="accent"
            [disabled]="resetPasswordForm.invalid"
            (ngSubmit)="submitForm()"
          >
            Reset Password
          </button>
        </form>
      </mat-card>
    </body>
  </div>
  <app-temp-nav-bar></app-temp-nav-bar>
</app-tool-bar>
