Html is created by the team with the dashboard nav being placed by Huy, and the data and stats by Colin, and table and map by David
<app-dashboard-nav>
  
  <button (click)="logout()">logout</button>
  
  <div>
    <app-device-data [data]="data_input"></app-device-data>
    <mat-divider></mat-divider>
  </div>
  <div>
    <app-device-stats [stats]="stats_data"></app-device-stats>
    <mat-divider></mat-divider>
  </div>
  <!-- <div>
    <app-device-table [Devicelist]="dataSource"></app-device-table>
    <mat-divider></mat-divider>
  </div>
  <div>
    <app-device-map [deviceList]="dataSource"></app-device-map>
  </div>
  <app-temp-nav-bar></app-temp-nav-bar> -->
</app-dashboard-nav>