<h2 mat-dialog-title>Do you want to remove {{ data.itemName }}?</h2>
<mat-dialog-content
  >This will remove this item and cannot be undone!</mat-dialog-content
>
<mat-dialog-actions>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button
    mat-raised-button
    color="warn"
    mat-dialog-close
    (click)="deleteItem()"
  >
    Delete
  </button>
  <span class="push-button-right"></span>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
