<!-- David created the template for this and Colin altered it for device STATS -->

<!-- The mat card is from the Angular Material Library for Angular 16.2.10, the mat card will consist of the title-->
<!-- as well as the content which will consist of a table and a interactive map which will be altered baed upon the selected -->
<!-- button with avaliable options Devices, Gateways, Device and Gateways The table structure is based upon the -->
<!-- example presented in the Angular Material Library which can installed using command "ng add @angular/material"
, https://material.angular.io/components/table/overview , https://material.angular.io/components/card/overview -->
<!-- The Table used in the device-map.html will appear once selector of the component is used in the dashboard component and will -->
<!-- present the device EUI (identifier) as well as the gateway EUI (identifier), once a row in the table is selected the respective row's -->
<!-- location data is presented with respect to how which button has been pressed, the map will region of Lake Tahoe initially by Default. -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [mode]="'over'"
    [opened]="false"
  >
    <mat-toolbar class="sidenav-toolbar"
      ><p class="sidenav-title">Menu</p></mat-toolbar
    >
    <mat-nav-list>
      <button class="absorb" mat-button></button>
      <!--That button is needed to fix Angular bug where 1st element will always be highlighted in sidenav if it is in over mode-->
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/organization/{{ orgId }}">Organization</a>
      <a mat-list-item routerLink="/application/{{ appId }}/{{ orgId }}"
        >Application</a
      >
      <a mat-list-item routerLink="/device/{{ orgId }}/{{ appId }}/{{ devName }}">
        Device</a>
      <a mat-list-item (click)="logout()"> Sign Out </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon></button
      ><a routerLink="/home" class="color-white"><mat-icon class="home-icon" aria-label="Home icon">home</mat-icon><span class="home-text">Home</span></a><mat-icon aria-label="next arrow">navigate_next</mat-icon>
      <a routerLink="/organization/{{ orgId }}" class="color-white"
        >Organization</a
      ><mat-icon aria-label="next arrow">navigate_next</mat-icon>
      <a routerLink="/application/{{ appId }}/{{ orgId }}" class="color-white"
        >Application
      </a><mat-icon aria-label="next arrow">navigate_next</mat-icon>
      <a routerLink="/device/{{ orgId }}/{{ appId }}/{{ devName }}" class="color-white"
      >Device
    </a><mat-icon aria-label="next arrow">navigate_next</mat-icon>
    View Map
      <span class="push-button-right"></span
        ><button mat-raised-button color="warn" (click)="logout()">
          Sign Out <mat-icon class="leave-icon" aria-label="Sign Out icon">logout</mat-icon>
        </button></mat-toolbar
    >
<body class="background">
<mat-card class="dev-map">
  <mat-card-title>Device Map</mat-card-title>
  <mat-card-header>Device List</mat-card-header>
  <mat-card-content>
    <div class="grid-container">
      <div class="grid-child">
        <!--The interactive map will be used to center on what is the selected device/gateway, there will be pop ups that occur if a device or gateway icon is selected on the interactive map -->

        <div
        class="grid-child"
        id="map"
        style="height: 600px; border-radius: 5%"
        ></div>
        <!-- The table used stucture and styling provided from the Material library in Angular, includes list of devices and their information retrieved from the dashboard component, -->
        <!-- consisting of the device and gateway locations for the corresponding row presented in the table. Along with the td and tr for table data and row, the ng container element -->
        <!-- allows for the team to be able to place content within the element to not use excessive div elements and also be able to use mtuiple structural directives if needed -->
        <!-- the table rows will be able to use event based binding on if the user clicks on a specific row, in which case the location information for the corresponding device is presented. -->
        <table mat-table [dataSource]="locationSource" class="mat-elevation-z4">
          <ng-container matColumnDef="endDeviceId">
            <th mat-header-cell *matHeaderCellDef>Device</th>
            <td mat-cell *matCellDef="let element">{{ element.dev_eui }}</td>
          </ng-container>

          <ng-container matColumnDef="latitude">
            <th mat-header-cell *matHeaderCellDef>latitude</th>
            <td mat-cell *matCellDef="let element">{{ element.latitude }}</td>
          </ng-container>

          <ng-container matColumnDef="longitude">
            <th mat-header-cell *matHeaderCellDef>longitude</th>
            <td mat-cell *matCellDef="let element">{{ element.longitude }}</td>
          </ng-container>

          <ng-container matColumnDef="altitude">
            <th mat-header-cell *matHeaderCellDef>altitude</th>
            <td mat-cell *matCellDef="let element">{{ element.altitude }}</td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>type</th>
            <td mat-cell *matCellDef="let element">{{ element.type }}</td>
          </ng-container>

          <ng-container matColumnDef="application">
            <th mat-header-cell *matHeaderCellDef>application</th>
            <td mat-cell *matCellDef="let element">{{ element.application }}</td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="[
              'endDeviceId',
              'latitude',
              'longitude',
              'altitude',
              'type',
              'application'
            ]"
          ></tr>

          <tr
            mat-row
            matRipple
            [matRippleCentered]="false"
            [matRippleDisabled]="true"
            [matRippleUnbounded]="false"
            *matRowDef="
              let row;
              columns: [
                'endDeviceId',
                'latitude',
                'longitude',
                'altitude',
                'type',
                'application'
              ]
            "
            (click)="flyTo(row)"
          ></tr>
        </table>
      </div>
    </div>
  </mat-card-content>

  <!-- Buttons here indicate how the which devices should be displayed on the screen, only end devices, with the Devices button, the Gateway button to display all of the gateway ranges, or both with the last option, each of which use event based binding to call  -->
  <!--their respective function for display.  -->
  <!-- <mat-card-actions>
    <div class="button-container">
      <button mat-raised-button color="accent" (click)="addMarkers()">
        Devices
      </button>
      <button mat-raised-button color="accent" (click)="showGatewayRanges()">
        Gateways
      </button>
      <button
        mat-raised-button
        color="accent"
        (click)="showDevicesAndGateways()"
      >
        Device and Gateways
      </button>
    </div>
  </mat-card-actions> -->
</mat-card>

<!-- <mat-card>
    <div class="grid-child" id='map' style="height: 750px; border-radius: 5%;"></div>
</mat-card> -->
</body>
</mat-sidenav-content>
</mat-sidenav-container>
