.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.grid-child {   
    width: 99%;
    height: 99%;
}

mat-card {
    margin: 15px;
    padding: 15px;
}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

*{
    background-color: aliceblue;
}