<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'"
    [opened]="false"
  >
    <mat-toolbar class="sidenav-toolbar"
      ><p class="sidenav-title">Menu</p></mat-toolbar
    >
    <mat-nav-list>
      <button class="absorb" mat-button></button>
      <!--That button is needed to fix Angular bug where 1st element will always be highlighted in sidenav if it is in over mode-->
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon></button
      ><a routerLink="/home" class="color-white">Home ></a>
      Organization</mat-toolbar
    >
    <mat-card class="organization-box">
      <mat-card-content class="organization-content">
        <img
          class="organization-image"
          src="{{ '../../assets/' + imgName + '.jpg' }}"
          alt="Grey cat sitting on couch"
        />
        <mat-card-content class="about-org-box">
          <mat-card-header
            ><h3 class="organization-title">About {{ orgName }}</h3>
          </mat-card-header>
          <mat-divider class="organization-divider"></mat-divider>
          <p>
            {{ orgDescription }}
          </p>
        </mat-card-content>
      </mat-card-content>
    </mat-card>
    <mat-card class="apps-box">
      <mat-card-content class="apps-content">
        <mat-tab-group [style.position]="'sticky'">
          <mat-tab label="{{ orgName }}'s Applications">
            <mat-nav-list>
              <div class="make-flexbox">
                <!--Can make userName in link be ID instead to better tranfer information between pages if needed-->
                <button
                  mat-raised-button
                  color="accent"
                  class="group-button"
                  routerLink="/add-application/{{ orgId }}"
                >
                  Add
                </button>
                <span class="push-button-right"> </span>
                <button
                  mat-raised-button
                  color="warn"
                  class="group-button"
                  (click)="removeApps = !removeApps"
                >
                  Remove
                </button>
              </div>
              <a
                mat-list-item
                [routerLink]="removeApps ? null : getRouteName(application)"
                *ngFor="
                  let application of appsSource.data.slice(
                    appsPaginator.pageIndex * appsPaginator.pageSize,
                    (appsPaginator.pageIndex + 1) * appsPaginator.pageSize
                  )
                "
              >
                <div class="make-flexbox">
                  {{ application.name }}
                  <span class="push-button-right"></span>
                  <button
                    class="remove-icon"
                    *ngIf="removeApps"
                    (click)="confirmRemoval(3, application)"
                  >
                    <mat-icon fontIcon="remove" color="warn"></mat-icon>
                  </button>
                </div>
              </a>
            </mat-nav-list>
            <mat-paginator
              #appsPaginator
              pageSize="5"
              showFirstLastButtons="true"
              [pageSizeOptions]="[5, 10, 20]"
              [pageIndex]="currentPage"
              (page)="handlePageEvent($event, 0)"
            ></mat-paginator>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
    <mat-card class="member-box" [style.display]="!isAdmin ? 'none' : 'block'">
      <!--Created hidden instead of ngIF because of some weird properties of Angular that causes it not initialize the paginator, and thus no items are registered-->
      <mat-card-content class="member-content">
        <mat-tab-group [style.position]="'sticky'">
          <mat-tab label="{{ orgName }}'s Members">
            <mat-nav-list>
              <div class="make-flexbox">
                <button
                  mat-raised-button
                  color="accent"
                  class="group-button"
                  routerLink="/invite-user/{{ orgId }}"
                >
                  Invite
                </button>
                <span class="push-button-right"> </span>
                <button
                  mat-raised-button
                  color="warn"
                  class="group-button"
                  (click)="removeMembers = !removeMembers"
                >
                  Remove
                </button>
              </div>
              <a
                mat-list-item
                [routerLink]="removeMembers ? null : null"
                *ngFor="
                  let member of memberSource.data.slice(
                    membersPaginator.pageIndex * membersPaginator.pageSize,
                    (membersPaginator.pageIndex + 1) * membersPaginator.pageSize
                  )
                "
              >
                <div class="make-flexbox" *ngIf="member">
                  {{ member.name }}
                  <span class="push-button-right"></span>
                  <mat-select
                    class="select-role"
                    [(value)]="member.role"
                    (selectionChange)="confirmRoleChange(member, $event)"
                  >
                    <mat-option [value]="1">Admin</mat-option>
                    <mat-option [value]="2" *ngIf="member.role != 1"
                      >Principle Investigator</mat-option
                    >
                    <mat-option [value]="3" *ngIf="member.role != 1"
                      >Basic User</mat-option
                    ></mat-select
                  >
                  <button
                    class="remove-icon"
                    *ngIf="removeMembers"
                    (click)="confirmRemoval(4, undefined, member)"
                  >
                    <mat-icon fontIcon="remove" color="warn"></mat-icon>
                  </button>
                </div>
              </a>
            </mat-nav-list>
            <mat-paginator
              #membersPaginator
              pageSize="5"
              showFirstLastButtons="true"
              [pageSizeOptions]="[5, 10, 20]"
              [pageIndex]="0"
              (page)="handlePageEvent($event, 0)"
            ></mat-paginator>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
    <body class="background"></body>
    <!--app-temp-nav-bar></app-temp-nav-bar-->
  </mat-sidenav-content>
</mat-sidenav-container>
