<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'"
    [opened]="false"
  >
    <mat-toolbar class="sidenav-toolbar"
      ><p class="sidenav-title">Menu</p></mat-toolbar
    >
    <mat-nav-list>
      <button class="absorb" mat-button></button>
      <!--That button is needed to fix Angular bug where 1st element will always be highlighted in sidenav if it is in over mode-->
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon></button
      ><a routerLink="/home" class="color-white">Home ></a>
      Organization</mat-toolbar
    >
    <mat-card class="organization-box">
      <mat-card-content class="organization-content">
        <img
          class="organization-image"
          src="../../assets/placeholder_cat2.jpg"
          alt="Grey cat sitting on couch"
        />
        <mat-card-content class="about-org=box">
          <mat-card-header
            ><h3 class="organization-title">About Cat Chairs</h3>
          </mat-card-header>
          <mat-divider class="organization-divider"></mat-divider>
          <p>
            This cat is the sole representative of this company, he watches over
            the data. If there are any issues that you have with this CEO,
            please send a request at 1-420-MEOW-MEOW.
          </p>
        </mat-card-content>
      </mat-card-content>
    </mat-card>
    <mat-card class="devices-box">
      <mat-card-content class="devices-content">
        <mat-tab-group [style.position]="'sticky'">
          <mat-tab label="Owned Organizations">
            <mat-nav-list>
              <a mat-list-item routerLink="/organization"> Organization 1</a>
              <a mat-list-item routerLink="/organization"> Organization 2</a>
              <a mat-list-item routerLink="/organization"> Organization 3</a>
              <a mat-list-item routerLink="/organization"> Organization 4</a>
              <a mat-list-item routerLink="/organization"> Organization 5</a>
              <a mat-list-item routerLink="/organization"> Organization 1</a>
              <a mat-list-item routerLink="/organization"> Organization 2</a>
              <a mat-list-item routerLink="/organization"> Organization 3</a>
              <a mat-list-item routerLink="/organization"> Organization 4</a>
              <a mat-list-item routerLink="/organization"> Organization 5</a>
              <a mat-list-item routerLink="/organization"> Organization 1</a>
              <a mat-list-item routerLink="/organization"> Organization 2</a>
              <a mat-list-item routerLink="/organization"> Organization 3</a>
              <a mat-list-item routerLink="/organization"> Organization 4</a>
              <a mat-list-item routerLink="/organization"> Organization 5</a>
              <a mat-list-item routerLink="/organization"> Organization 1</a>
              <a mat-list-item routerLink="/organization"> Organization 2</a>
              <a mat-list-item routerLink="/organization"> Organization 3</a>
              <a mat-list-item routerLink="/organization"> Organization 4</a>
              <a mat-list-item routerLink="/organization"> Organization 5</a>
            </mat-nav-list>
          </mat-tab>
          <mat-tab label="Joined Organizations">
            <mat-nav-list>
              <a mat-list-item routerLink="/organization"> Organization 1</a>
              <a mat-list-item routerLink="/organization"> Organization 2</a>
              <a mat-list-item routerLink="/organization"> Organization 3</a>
              <a mat-list-item routerLink="/organization"> Organization 4</a>
              <a mat-list-item routerLink="/organization"> Organization 5</a>
              <a mat-list-item routerLink="/organization"> Organization 1</a>
              <a mat-list-item routerLink="/organization"> Organization 2</a>
              <a mat-list-item routerLink="/organization"> Organization 3</a>
              <a mat-list-item routerLink="/organization"> Organization 4</a>
              <a mat-list-item routerLink="/organization"> Organization 5</a>
              <a mat-list-item routerLink="/organization"> Organization 1</a>
              <a mat-list-item routerLink="/organization"> Organization 2</a>
              <a mat-list-item routerLink="/organization"> Organization 3</a>
              <a mat-list-item routerLink="/organization"> Organization 4</a>
              <a mat-list-item routerLink="/organization"> Organization 5</a>
              <a mat-list-item routerLink="/organization"> Organization 1</a>
              <a mat-list-item routerLink="/organization"> Organization 2</a>
              <a mat-list-item routerLink="/organization"> Organization 3</a>
              <a mat-list-item routerLink="/organization"> Organization 4</a>
              <a mat-list-item routerLink="/organization"> Organization 5</a>
              <a mat-list-item routerLink="/organization"> Organization 1</a>
              <a mat-list-item routerLink="/organization"> Organization 2</a>
              <a mat-list-item routerLink="/organization"> Organization 3</a>
              <a mat-list-item routerLink="/organization"> Organization 4</a>
              <a mat-list-item routerLink="/organization"> Organization 5</a>
            </mat-nav-list>
          </mat-tab>
          <mat-tab label="Favorite Devices">
            <mat-nav-list>
              <a mat-list-item routerLink="/device"> Device 1</a>
              <a mat-list-item routerLink="/device"> Device 2</a>
              <a mat-list-item routerLink="/device"> Device 3</a>
              <a mat-list-item routerLink="/device"> Device 4</a>
              <a mat-list-item routerLink="/device"> Device 5</a>
            </mat-nav-list>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
    <button mat-raised-button color="accent" class="device-button">
      Device Request
    </button>
    <body class="background">
      <app-temp-nav-bar></app-temp-nav-bar>
    </body>
  </mat-sidenav-content>
</mat-sidenav-container>
