.container {
  /* This ensures the form has the fields in a column so that it looks more like a traditional form */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  /* This affects the main title that's on the form, ensuring that it has a decorated look to it */
  text-align: center;
  border-bottom: 2px solid;
  transform: translate(0%, -60%);
}

.signup-form {
  /* This aligns the div form, horizontally and vertically so it becomes the center of the page */
  display: flex;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  min-width: 440px;
  max-width: 440px;
  min-height: fit-content;
  max-height: 70%;
  padding: 100px;
  box-shadow: 0 4px 1px 1px rgba(0, 0, 0, 0.4), 0 4px 20px 0 rgba(0, 0, 0, 0.4),
    0 1px 10px 0 rgba(0, 0, 0, 0.4);
}

.main-body {
  width: 100%;
  height: 90% !important;
  background-image: url("../../assets/snowWDevice.jpg") !important;
  background-size: cover !important;

  /*This below is for controlling the gradient overlay of the image in order to make the image look darker, */
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #000000, #000000);
    opacity: 0.27;
  }
}
