<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'"
    [opened]="false"
  >
    <mat-toolbar class="sidenav-toolbar"
      ><p class="sidenav-title">Menu</p></mat-toolbar
    >
    <mat-nav-list>
      <button class="absorb" mat-button></button>
      <!--That button is needed to fix Angular bug where 1st element will always be highlighted in sidenav if it is in over mode-->
      <a mat-list-item *ngFor="let item of menuItems" [activated]="true">
        {{ item }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      Welcome {{ userName }}</mat-toolbar
    >
    <mat-card class="notifications-box">
      <mat-card-content class="notifications-content">
        <mat-card-header
          ><h3
            class="notifications-title"
            matBadge="{{ notifications.length }}"
          >
            Notifications
          </h3>
        </mat-card-header>
        <mat-divider class="notifications-divider"></mat-divider>
        <mat-nav-list>
          <!-- Activated just adjusts the colors of the individual links whether to be the primary angular color or black-->
          <a
            mat-list-item
            routerLink="/organization/{{ routerLinkVariable }}"
            *ngFor="let notification of notifications"
            [activated]="false"
          >
            {{ notification }}
          </a>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>
    <mat-card class="organization-box">
      <mat-card-content class="organization-content">
        <mat-tab-group [style.position]="'sticky'">
          <mat-tab label="Owned Organizations">
            <div class="make-flexbox">
              <!--Can make userName in link be ID instead to better tranfer information between pages if needed-->
              <button
                mat-raised-button
                color="accent"
                class="group-button"
                routerLink="/add-organization/{{ userName }}"
              >
                Add
              </button>
              <span class="push-button-right"> </span>
              <button
                mat-raised-button
                color="warn"
                class="group-button"
                (click)="removeOrgs = !removeOrgs"
              >
                Remove
              </button>
            </div>
            <mat-nav-list>
              <!--Note that the let parameter only creates a variable that lasts for the loop and has scope only in the loop.-->
              <a
                mat-list-item
                [routerLink]="removeOrgs ? null : getRouteName(organization, 0)"
                *ngFor="
                  let organization of ownedOrgSource.data.slice(
                    ownedOrgPaginator.pageIndex * ownedOrgPaginator.pageSize,
                    (ownedOrgPaginator.pageIndex + 1) *
                      ownedOrgPaginator.pageSize
                  )
                "
              >
                <div class="make-flexbox">
                  {{ organization }}
                  <span class="push-button-right"></span>
                  <button
                    class="remove-icon"
                    *ngIf="removeOrgs"
                    (click)="confirmRemoval(organization)"
                  >
                    <mat-icon fontIcon="remove" color="warn"></mat-icon>
                  </button>
                </div>
              </a>
            </mat-nav-list>
            <mat-paginator
              #ownedOrgPaginator
              pageSize="5"
              showFirstLastButtons="true"
              [pageSizeOptions]="[5, 10, 20]"
              [pageIndex]="currentPage"
              (page)="handlePageEvent($event, 0)"
            ></mat-paginator>
          </mat-tab>
          <mat-tab label="Joined Organizations">
            <div class="make-flexbox">
              <!--Can make userName in link be ID instead to better tranfer information between pages if needed-->
              <button
                mat-raised-button
                color="accent"
                class="group-button"
                routerLink="/add-organization/{{ userName }}"
              >
                Join
              </button>
              <!--For the join we might need a search organization page for public organizations-->
              <span class="push-button-right"> </span>
              <button
                mat-raised-button
                color="warn"
                class="group-button"
                (click)="removeOrgs = !removeOrgs"
              >
                Leave
              </button>
            </div>
            <mat-nav-list>
              <a
                mat-list-item
                [routerLink]="removeOrgs ? null : getRouteName(organization, 0)"
                *ngFor="
                  let organization of joinedOrgSource.data.slice(
                    joinedOrgPaginator.pageIndex * joinedOrgPaginator.pageSize,
                    (joinedOrgPaginator.pageIndex + 1) *
                      joinedOrgPaginator.pageSize
                  )
                "
              >
                <div class="make-flexbox">
                  {{ organization }}
                  <span class="push-button-right"></span>
                  <button
                    class="remove-icon"
                    *ngIf="removeOrgs"
                    (click)="confirmRemoval(organization)"
                  >
                    <mat-icon fontIcon="remove" color="warn"></mat-icon>
                  </button>
                </div>
              </a>
            </mat-nav-list>
            <mat-paginator
              #joinedOrgPaginator
              pageSize="5"
              showFirstLastButtons="true"
              [pageSizeOptions]="[5, 10, 20]"
              [pageIndex]="currentPage"
              (page)="handlePageEvent($event, 0)"
            ></mat-paginator>
          </mat-tab>
          <mat-tab label="Favorite Devices">
            <div class="make-flexbox">
              <span class="push-button-right"></span>
              <button
                mat-raised-button
                color="warn"
                class="group-button"
                (click)="removeOrgs = !removeOrgs"
              >
                Remove
              </button>
            </div>
            <mat-nav-list>
              <a
                mat-list-item
                [routerLink]="removeOrgs ? null : getRouteName(device, 1)"
                *ngFor="
                  let device of favDeviceSource.data.slice(
                    favDevicePaginator.pageIndex * favDevicePaginator.pageSize,
                    (favDevicePaginator.pageIndex + 1) *
                      favDevicePaginator.pageSize
                  )
                "
              >
                <div class="make-flexbox">
                  {{ device }}
                  <span class="push-button-right"></span>
                  <button
                    class="remove-icon"
                    *ngIf="removeOrgs"
                    (click)="confirmRemoval(device)"
                  >
                    <mat-icon fontIcon="remove" color="warn"></mat-icon>
                  </button>
                </div>
              </a>
            </mat-nav-list>
            <mat-paginator
              #favDevicePaginator
              pageSize="5"
              showFirstLastButtons="true"
              [pageSizeOptions]="[5, 10, 20]"
              [pageIndex]="currentPage"
              (page)="handlePageEvent($event, 0)"
            ></mat-paginator>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
    <body class="background">
      <app-temp-nav-bar></app-temp-nav-bar>
    </body> </mat-sidenav-content
></mat-sidenav-container>
