<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'"
    [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <button class="absorb" mat-button></button>
      <!--That button is needed to fix Angular bug where 1st element will always be highlighted in sidenav if it is in over mode-->
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      Welcome User</mat-toolbar
    >
    <body class="background">
      <div class="padding">
        <mat-card class="notifications-box"
          ><p
            matBadge="0"
            matBadgePosition="above after"
            matBadgeColor="accent"
            class="notification-badge"
          >
            You have no notifications!
          </p></mat-card
        >
      </div>
      <mat-grid-list
        class="list-background"
        cols="1"
        rowHeight="500px"
        gutterSize="20px"
      >
        <!--Gutter size adjusts the gap between the tiles-->
        <mat-grid-tile class="tile-container" [style.height]="'10px'">
          <mat-grid-tile-header
            class="tile-header"
            [style.background]="'rgba(50, 50, 70, 0.6)'"
            [style.border-color]="'black'"
            [style.border-radius]="'10px'"
            [style.width]="'90%'"
            [style.left]="'4%'"
            >Organizations</mat-grid-tile-header
          >
          <div class="stop-overflow">
            <mat-card class="object-box"
              ><mat-card-content> Org 1 </mat-card-content></mat-card
            >
            <mat-card class="object-box"
              ><mat-card-content> Org 2 </mat-card-content></mat-card
            >
            <mat-card class="object-box"
              ><mat-card-content> Org 2 </mat-card-content></mat-card
            >
            <mat-card class="object-box"
              ><mat-card-content> Org 2 </mat-card-content></mat-card
            >
            <mat-card class="object-box"
              ><mat-card-content> Org 2 </mat-card-content></mat-card
            >
            <mat-card class="object-box"
              ><mat-card-content> Org 2 </mat-card-content></mat-card
            >
            <mat-card class="object-box"
              ><mat-card-content> Org 2 </mat-card-content></mat-card
            >
            <mat-card class="object-box"
              ><mat-card-content> Org 2 </mat-card-content></mat-card
            >
            <mat-card class="object-box"
              ><mat-card-content> Org 2 </mat-card-content></mat-card
            >
          </div>
        </mat-grid-tile>
        <mat-grid-tile class="tile-container">
          <mat-grid-tile-header
            class="tile-header"
            [style.background]="'rgba(50, 50, 70, 0.6)'"
            [style.border-color]="'black'"
            [style.border-radius]="'10px'"
            [style.width]="'90%'"
            [style.left]="'4%'"
            >Favorite Devices</mat-grid-tile-header
          >
          <div class="stop-overflow">
            <mat-card class="object-box"
              ><mat-card-content>Device 1</mat-card-content></mat-card
            >
            <mat-card class="object-box"
              ><mat-card-content>Device 2</mat-card-content></mat-card
            >
            <mat-card class="object-box"
              ><mat-card-content>Device 1</mat-card-content></mat-card
            >
            <mat-card class="object-box"
              ><mat-card-content>Device 2</mat-card-content></mat-card
            >
            <mat-card class="object-box"
              ><mat-card-content>Device 1</mat-card-content></mat-card
            >
            <mat-card class="object-box"
              ><mat-card-content>Device 2</mat-card-content></mat-card
            >
            <mat-card class="object-box"
              ><mat-card-content>Device 1</mat-card-content></mat-card
            >
            <mat-card class="object-box"
              ><mat-card-content>Device 2</mat-card-content></mat-card
            >
            <mat-card class="object-box"
              ><mat-card-content>Device 1</mat-card-content></mat-card
            >
            <mat-card class="object-box"
              ><mat-card-content>Device 2</mat-card-content></mat-card
            >
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <app-temp-nav-bar></app-temp-nav-bar>
    </body> </mat-sidenav-content
></mat-sidenav-container>
