<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'"
    [opened]="false"
  >
    <mat-toolbar class="sidenav-toolbar"
      ><p class="sidenav-title">Menu</p></mat-toolbar
    >
    <mat-nav-list>
      <button class="absorb" mat-button></button>
      <!--That button is needed to fix Angular bug where 1st element will always be highlighted in sidenav if it is in over mode-->
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/organization/{{ orgId }}">Organization</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon></button
      ><a routerLink="/home" class="color-white">Home ></a>
      <a routerLink="/organization/{{ orgId }}" class="color-white">
        Organization ></a
      >
      Application</mat-toolbar
    >
    <mat-card class="app-box">
      <div class="app-content">
        <mat-card-header
          ><h3 class="app-title">{{ appName }}</h3>
        </mat-card-header>
        <mat-divider class="app-divider"></mat-divider>
        <p>
          {{ appDescription }}
        </p>
      </div>
    </mat-card>
    <mat-card class="devices-box">
      <mat-card-content class="devices-content">
        <mat-tab-group [style.position]="'sticky'">
          <mat-tab label="{{ appName }} Devices">
            <mat-nav-list>
              <div class="make-flexbox">
                <!--Can make userName in link be ID instead to better tranfer information between pages if needed-->
                <button
                  mat-raised-button
                  color="accent"
                  class="group-button"
                  *ngIf="userRole != 3 || userRole <= 0"
                  routerLink="/add-device/{{ appId }}/{{orgId}}"
                >
                  Add
                </button>
                <span class="push-button-right"> </span>
                <button
                  mat-raised-button
                  color="warn"
                  class="group-button"
                  *ngIf="userRole != 3 || userRole <= 0"
                  (click)="removeDevices = !removeDevices"
                >
                  Remove
                </button>
              </div>
              <a
                mat-list-item
                [routerLink]="removeDevices ? null : getRouteName(device)"
                *ngFor="
                  let device of deviceSource.data.slice(
                    devicePaginator.pageIndex * devicePaginator.pageSize,
                    (devicePaginator.pageIndex + 1) * devicePaginator.pageSize
                  )
                "
              >
                <div class="make-flexbox">
                  {{ device.name }}
                  <span class="push-button-right"></span>
                  <button
                    class="remove-icon"
                    *ngIf="removeDevices"
                    (click)="confirmRemoval(2, device)"
                  >
                    <mat-icon fontIcon="remove" color="warn"></mat-icon>
                  </button>
                </div>
              </a>
            </mat-nav-list>
            <mat-paginator
              #devicePaginator
              pageSize="5"
              showFirstLastButtons="true"
              [pageSizeOptions]="[5, 10, 20]"
              [pageIndex]="currentPage"
              (page)="handlePageEvent($event, 0)"
            ></mat-paginator>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
    <body class="background"></body>
  </mat-sidenav-content>
</mat-sidenav-container>
