<mat-sidenav-container class="sidenav-container" [style.height]="'100vh'">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'"
    [opened]="false"
  >
    <mat-toolbar class="sidenav-toolbar"
      ><p class="sidenav-title">Menu</p></mat-toolbar
    >
    <mat-nav-list>
      <button class="absorb" mat-button></button>
      <!--That button is needed to fix Angular bug where 1st element will always be highlighted in sidenav if it is in over mode-->
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/organization/{{ orgId }}">Organization</a>
      <a mat-list-item (click)="logout()"> Sign Out </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon></button
      ><a routerLink="/home" class="color-white"><mat-icon class="home-icon" aria-label="Home icon">home</mat-icon><span class="home-text">Home</span></a><mat-icon aria-label="next arrow">navigate_next</mat-icon>
      <a routerLink="/organization/{{ orgId }}" class="color-white">Organization</a
      ><mat-icon aria-label="next arrow">navigate_next</mat-icon>
      Application
      <span class="push-button-right"></span
        ><button mat-raised-button color="warn" (click)="logout()">
          Sign Out <mat-icon class="leave-icon" aria-label="Sign Out icon">logout</mat-icon>
        </button></mat-toolbar
    >
    <mat-card class="app-box">
      <div class="app-content">
        <mat-card-header
          ><h3 class="app-title">About {{ appName }}</h3>
        </mat-card-header>
        <mat-divider class="app-divider"></mat-divider>
        <h4>
          {{ appDescription }}
        </h4>
        <h4>
          Application ID: {{ appId }}
        </h4>
        <h4>
          Total number of devices: {{ devices.length }}
        </h4>
      </div>
    </mat-card>
    <mat-card class="devices-box">
      <mat-card-content class="devices-content">
        <mat-tab-group [disableRipple]="true">
          <mat-tab class="no-hover" label="{{ appName }} Devices">
            <mat-nav-list>
              <div class="make-flexbox">
                <!--Can make userName in link be ID instead to better tranfer information between pages if needed-->
                <button
                  mat-raised-button
                  [style.background-color]="'#4CAF50'"
                  [style.color]="'white'"
                  class="group-button"
                  *ngIf="userRole != 3 || userRole <= 0"
                  routerLink="/add-device/{{ appId }}/{{ orgId }}"
                >
                  Add
                </button>
                <span class="push-button-right"> </span>
                <button
                  mat-raised-button
                  color="warn"
                  class="group-button"
                  *ngIf="userRole != 3 || userRole <= 0"
                  (click)="removeDevices = !removeDevices"
                >
                  Remove
                </button>
              </div>
              <a
                mat-list-item
                [routerLink]="removeDevices ? null : getRouteName(device)"
                *ngFor="
                  let device of deviceSource.data.slice(
                    devicePaginator.pageIndex * devicePaginator.pageSize,
                    (devicePaginator.pageIndex + 1) * devicePaginator.pageSize
                  )
                "
              >
                <div class="make-flexbox">
                  {{ device.name }}
                  <span class="push-button-right"></span>
                  <button
                    class="remove-icon"
                    *ngIf="removeDevices"
                    (click)="confirmRemoval(2, device)"
                  >
                    <mat-icon fontIcon="remove" color="warn"></mat-icon>
                  </button>
                </div>
              </a>
              <h1 class="empty-text1" *ngIf="!deviceSource.data.length">
                You have no applications, to add one to your organization,
                please hit Add in the upper left of this panel.
              </h1>
              <h1 class="empty-text2" *ngIf="!deviceSource.data.length">
                An application is a group of devices assigned for a specific
                task, after creation, an admin or PI can add devices to the
                application.
              </h1>
            </mat-nav-list>
            <mat-paginator
              #devicePaginator
              pageSize="5"
              showFirstLastButtons="true"
              [pageSizeOptions]="[5, 10, 20]"
              [pageIndex]="currentPage"
              (page)="handlePageEvent($event, 0)"
            ></mat-paginator>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
    <body class="background"></body>
  </mat-sidenav-content>
</mat-sidenav-container>
